[data-o-theme='light'] {
  --mind-color-band-start: 46, 83, 250;
  --mind-color-band-end: 123, 37, 244;
}
[data-o-theme='dark'] {
  --mind-color-band-start: 84, 120, 251;
  --mind-color-band-end: 152, 74, 246;
}
