@use './mixin.scss' as *;

.o-btn.o-btn-solid {
  --btn-color: var(--o-color-info1-inverse);
  --btn-color-hover: var(--o-color-info1-inverse);
  --btn-color-active: var(--o-color-info1-inverse);
  --btn-color-disabled: var(--o-color-info1-inverse);
}

.o-btn-outline.o-btn-primary:not(.o-btn-disabled),
.o-btn-normal.o-btn-outline.o-dlg-btn:not(.o-btn-disabled) {
  --btn-color: var(--o-color-info1);
  --btn-color-hover: var(--o-color-info1-inverse);
  --btn-color-active: var(--o-color-info1-inverse);
  --btn-bg-color-hover: var(--o-color-primary2);
  --btn-bg-color-active: var(--o-color-primary3);
  @include hover {
    background-color: var(--btn-bg-color-hover);
  }

  &:active {
    background-color: var(--btn-bg-color-active);
  }
}
