@use './mixin.scss' as *;

.c-dlg-action-end {
  display: flex;

  justify-content: flex-end;
  > * + * {
    margin-left: 8px;
  }
}

.c-dlg-action-center {
  display: flex;

  justify-content: center;
  > * + * {
    margin-left: 8px;
  }
}

.c-dlg-operation {
  --layer-align: center !important;
  --dlg-body-padding: 0 !important;
  --dlg-margin: 40px;
  --dlg-min-height: 320px;
  --dlg-max-height: 468px;
  .o-dlg-btn-close {
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + 16px);
    border: 1px solid var(--o-color-info1-inverse);
    border-radius: 50%;
    font-size: var(--o-icon_size_control-xs);
    color: var(--o-color-info1-inverse);
    padding: 4px;
    display: flex;
  }
}

.o-dlg-body {
  @include respond-to('<=laptop') {
    font-size: var(--o-font_size-tip1);
    line-height: var(--o-line_height-tip1);
  }
}
