.o-icon {
  --icon-btn-color: var(--o-color-info2);
  --icon-btn-color-hover: var(--o-color-info1);
  --icon-btn-color-active: var(--o-color-info1);
}
.c-icon-large {
  --icon-size: var(--o-icon_size_control-m);
}
