@use './mixin.scss' as *;

.o-input-normal {
  --input-bd-color-hover: var(--o-color-control2);
  --input-bd-color-focus: var(--o-color-control3);
}

.c-input-verify-code {
  color: var(--o-color-info4);
  font-size: var(--o-font_size-tip1);
  line-height: var(--o-line_height-tip1);
  .c-code-loading {
    color: var(--o-color-primary1);
  }
}
