.o-rate-icon-bottom {
  .o-icon-star {
    path {
      color: transparent;
    }
    path:nth-child(1) {
      color: var(--rate-color-selected);
    }
  }
}

.o-rate-item.is-half {
  .o-rate-icon-top {
    .o-icon-star {
      path:nth-child(2) {
        color: var(--rate-color-selected);
      }
    }
  }
}

.o-rate-item.is-full {
  .o-rate-icon-bottom {
    .o-icon-star {
      path:nth-child(2) {
        color: var(--rate-color-selected);
      }

      path:nth-child(3) {
        color: var(--rate-color-selected);
      }
    }
  }
}
