@use './mixin.scss' as *;

.c-select-action {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  @include hover {
    color: var(--o-color-link1);
  }
  > .o-icon {
    font-size: var(--o-icon_size_control-xs);
    margin-right: 4px;
  }
}
