.o-tag-normal {
  --tag-color: var(--o-color-info1);
  --tag-bg-color: var(--o-color-control3-light);
  --tag-bd-color: var(--o-color-control3-light);

  &.o-tag-outline {
    --tag-bd-color: var(--o-color-control1);
  }
}

.o-tag-primary {
  --tag-bg-color: rgb(var(--o-red-huawei));
  --tag-bd-color: rgb(var(--o-red-huawei));

  &.o-tag-outline {
    --tag-color: rgb(var(--o-red-huawei));
  }
}

.o-tag-normal.c-tag-normal-inverse {
  --tag-color: var(--o-color-white);
  --tag-bg-color: rgba(var(--o-mixedgray-14), 0.2);
  --tag-bd-color: transparent;
}

.o-tag-normal.c-tag-unstart {
  --tag-color: var(--o-color-white);
  --tag-bg-color: rgba(var(--o-mixedgray-14), 0.4);
  --tag-bd-color: transparent;
}

.o-tag-normal.c-tag-processing {
  --tag-color: var(--o-color-white);
  --tag-bg-color: rgba(var(--o-blue-6));
  --tag-bd-color: rgba(var(--o-blue-6));
}

.c-tag-activity,
.c-tag-mind {
  --tag-color: var(--o-color-white);
  background: linear-gradient(90deg, rgb(var(--ak-color-band-start)) 0%, rgb(var(--ak-color-band-end)) 100%);
  border: none;
}
