@use './mixin.scss' as *;

.o-upload {
  --upload-drag-bd: 1px solid var(--o-color-control1);
  --upload-drag-bd-hover: 1px solid var(--o-color-control2);
  --upload-drag-bd-active: 1px solid var(--o-color-control3);
  --upload-drag-bd-dragging: 1px solid var(--o-color-control2);
  --upload-drag-bg-color-dragging: var(--o-color-control-light);
  --upload-drag-bd-disabled: 1px solid var(--o-color-control4);
}
.o-upload-progress {
  left: 28px;
}
.o-upload-card-progress {
  left: 8px;
  right: 8px;
  bottom: 4px;
}
.o-upload-draggable {
  width: 480px;
  @include respond-to('<=laptop') {
    width: 240px;
  }
}
