:root {
    --o-color-kleinblue1: #002f59;
    --o-color-kleinblue2: #004a8c;
    --o-color-kleinblue3: #0065bf;
    --o-color-kleinblue4: #0080f2;
    --o-color-kleinblue5: #0d8dff;
    --o-color-kleinblue6: #1a9aff;
    --o-color-kleinblue7: #33b3ff;
    --o-color-kleinblue8: #4dcdff;
    --o-color-kleinblue9: #66e6ff;
    --o-color-kleinblue10: #9cefff;
}