@use '@/shared/style/mixin/screen.scss' as *;

.tag-blue1 {
  background: rgba(5, 142, 240, 0.15);
  color: #058ef0;

  &.hoverable {
    @include hover {
      background: rgba(5, 142, 240, 0.25);
    }

    &:active {
      background: rgba(5, 142, 240, 0.15);
    }
  }

  &.is-checked {
    background: transparent !important;
    border: 1px solid #058ef0 !important;
  }
}

.tag-blue2 {
  background: rgba(57, 103, 250, 0.15);
  color: #3967fa;

  &.hoverable {
    @include hover {
      background: rgba(57, 103, 250, 0.25);
    }

    &:active {
      background: rgba(57, 103, 250, 0.15);
    }
  }

  &.is-checked {
    background: transparent !important;
    border: 1px solid #3967fa !important;
  }
}

.tag-purple1 {
  background: rgba(128, 113, 222, 0.15);
  color: #8071de;

  &.hoverable {
    @include hover {
      background: rgba(128, 113, 222, 0.25);
    }

    &:active {
      background: rgba(128, 113, 222, 0.15);
    }
  }

  &.is-checked {
    background: transparent !important;
    border: 1px solid #8071de !important;
  }
}

.tag-green1 {
  background: rgba(11, 177, 81, 0.15);
  color: #0bb151;

  &.hoverable {
    @include hover {
      background: rgba(11, 177, 81, 0.25);
    }

    &:active {
      background: rgba(11, 177, 81, 0.15);
    }
  }
  &.is-checked {
    background: transparent !important;
    border: 1px solid #0bb151 !important;
  }
}
