:root {
    // 交通紫
    --o-color-kleinblue1: #2d0a60;
    --o-color-kleinblue2: #420f8e;
    --o-color-kleinblue3: #5813bc;
    --o-color-kleinblue4: #6e1be8;
    --o-color-kleinblue5: #7d32ea;
    --o-color-kleinblue6: #ba3ff7;
    --o-color-kleinblue7: #a358ff;
    --o-color-kleinblue8: #bd72ff;
    --o-color-kleinblue9: #d68bff;
    --o-color-kleinblue10: #e1abff;
}